@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}